* {
	box-sizing: border-box;
}

.container {
overflow: auto;
}

.pad-change {
 width: 50%;
 float: left;
 border: 1px solid black;
 height: 60px;
 line-height: 60px;
 text-align: center;
}
.pads {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 5px;
	justify-content: center;
}

.btn {
	border: 2px solid black;
	float: left;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0px 8px #bbb;
	width: 12vw;
	height: 12vw;
}

.btn:focus {
    box-shadow: 0 3px #999;
    transform: translateY(5px);
}



#pad1 .btn {
	background-color: hotpink;
}
#pad2 .btn {
	background-color: aquamarine;
}

.container {
	background-color: red;
}

